/*BEGIN ATIVIDADE*/
.details-atividade{
	margin-top: 15px;
	width: 100%;
	font-size: 12px;
	height: auto;
	display: flex;
	flex-direction: row;
	font-style: italic;
	padding-bottom: 10px;
}
.details-atividade-right{
	width: 50%;
	text-align: right;
}
.details-atividade-left{
	width: 50%;
	text-align: left;
}
/*END ATIVIDADE*/