
/*BEGIN FORM*/
.list-data-form{
    list-style: none;
    padding: 0;
}
.list-data-form-center{
    margin: 0 auto; 
    max-width: 680px;
}
.list-data-form li{
    text-align: center;
}
.list-data-form .txt-area{
    display: flex;
    justify-content: center;
}
.list-data-form textarea{
    width: 100%;
    min-height: 120px;
}
.field-cad li{
    margin-top: 5px;
}
input[type="text"], input[type="password"], .field_email, input[type="date"]{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type='file']{
    display: none;
}
label{
    margin-bottom: 3px;
}
/*END FORM*/